@mixin card_one {
    transform: rotate(10deg);
    transition: .3s ease-in-out;
}

@mixin card_two {
    transform: rotate(20deg);
    transition: .3s ease-in-out;
}

@mixin card_three {
    transform: rotate(30deg);
    transition: .3s ease-in-out;
}

@mixin card_zero {
    transform: rotate(0deg);
}

.warpper {
    .page_defualt.gallery {
        .warp_defualt{
            .cards{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70vh;
                
                .card{
                    position: absolute;
                    img{
                        width: 40vw;
                        max-width: 300px;
                        transform: scale(1);
                        -webkit-user-drag: none;
                    }
                    img::selection{
                        background: none;
                    }
                }

                .card:nth-child(1){
                    @include card_two;
                }
                .card:nth-child(10):hover{
                    @include card_zero;
                }
                .card:nth-child(2){
                    @include card_three;
                }
                .card:nth-child(3){
                    @include card_two;
                }
                .card:nth-child(4){
                    @include card_one;
                }
                .card:nth-child(5){
                   @include card_three;
                }
                .card:nth-child(6){
                    @include card_two;
                }
                .card:nth-child(7){
                    @include card_one;
                }
                .card:nth-child(8){
                    @include card_three;
                }
                .card:nth-child(9){
                    @include card_two;
                }
                .card:nth-child(10){
                    @include card_one;
                }
            }
        }
    }
}