@mixin textbox_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 20px;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    border-radius: 3px;
    margin: 8px;
    padding: 2px;
}

@mixin icon_bg {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 5px;
}

@mixin skill_warp_sub {
    margin-top: 10px;
    margin-left: 40px;
    line-height: 22px;
}

.html {
    background: url('../../../img/html.png');
    @include icon_bg
}

.css {
    background: url('../../../img/css.png');
    @include icon_bg
}

.javascript {
    background: url('../../../img/js.png');
    @include icon_bg
}

.jquery {
    background: url('../../../img/jquery.png');
    @include icon_bg
}

.yarn {
    background: url('../../../img/yarn.png');
    @include icon_bg
}

.zepline {
    background: url('../../../img/zepline.png');
    @include icon_bg
}

.redux {
    background: url('../../../img/redux.png');
    @include icon_bg
}

.scss {
    background: url('../../../img/sass.png');
    @include icon_bg
}

.react {
    background: url('../../../img/react.png');
    @include icon_bg
}

.pigma {
    background: url('../../../img/pigma.png');
    @include icon_bg
}

.photoshop {
    background: url('../../../img/photoshop.png');
    @include icon_bg
}

.oven {
    background: url('../../../img/oven.png');
    @include icon_bg
}

.notion {
    background: url('../../../img/notion.png');
    @include icon_bg
}

.nas {
    background: url('../../../img/nas.png');
    @include icon_bg
}

.vscode {
    background: url('../../../img/vscode.png');
    @include icon_bg
}

.illustrator {
    background: url('../../../img/illustrator.png');
    @include icon_bg
}

.github {
    background: url('../../../img/github.png');
    @include icon_bg
}

.git {
    background: url('../../../img/git.png');
    @include icon_bg
}

.firebase {
    background: url('../../../img/firebase.png');
    @include icon_bg
}

.aws {
    background: url('../../../img/aws.jpg');
    @include icon_bg
}

.api {
    background: url('../../../img/api.png');
    @include icon_bg
}

.warpper {
    .page_defualt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 80px 0px;
        margin: 0 auto;
        .warp_defualt {
            width: 80%;
            border: 1px solid black;
            box-shadow: 5px 5px 15px 5px skyblue;
            .title_text{
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                border-bottom: 1px solid rgba(0,0,0,.5);
                padding-bottom: 30px;
                width: 90%;
                border-radius: 0%;
                margin: 30px auto;
            }
            .subtitle_text{
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                padding: 20px 5px;
            }
            .history_warp {
                ul {
                    li{
                        display: flex;
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .text_box {
                            @include textbox_bg;
                        }
                        .text_box_sub{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            margin-top: 8px;
                            margin-left: 20px;
                        }
                    }
                    :last-child{
                        div{
                            line-height: 25px;
                            div{
                            }
                            :last-child{
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
            .skills{
                ul{
                    li{
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 20px;
                        .skills_warp{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-top: 8px;
                            margin-left: 10px;
                        }
                        .text_box{
                            @include textbox_bg;
                        }
                        .skills_warp_sub{
                            @include skill_warp_sub;
                        }
                    }
                }
            }
            .study{
                ul{
                    li{display: flex;
                        align-items: flex-start;
                        margin-bottom: 0px;
                        .text_box {
                            @include textbox_bg;
                        }
                        .skills_warp{
                            display: flex;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            margin-top: 8px;
                            margin-left: 10px;
                        }
                        .skills_warp_sub{
                            @include skill_warp_sub;
                        }
                        button{
                            background: black;
                            border-radius: 5px;
                            padding: 3px 5px;
                            margin-left: 10px;
                            border: none;
                            a{
                                color: white;
                                text-decoration: none;
                            }
                        }
                        .git_button{
                            background: #F84923;
                        }
                    }
                }
            }
            .production{
                width: 90%;
                margin: 40px auto;
                border-top: 1px solid black;
            }
        }
    }
}