.production_warp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_text{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-top: 30px;
        padding: 0 10%;
    }
    .sub_text{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 5px;
        padding: 0 10%;
    }
}

.production_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 430px;
    @media screen and(max-width: 660px) {
        width: 85%;
    }
    .production_ea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42%;
        height: 49%;
        border: 1px solid black;
        margin: 10px;
        padding: 20px 0;
        @media screen and(max-width: 480px) {
            width: 100%;
        }
        a{
            img{
                width: 80px;
                height: 80px;
            }
            div{
                text-align: center;
            }
        }
    }
}