.production_warp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_text{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-top: 30px;
    }
    .sub_text{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 5px;
    }
}

.production_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
    .production_ea{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        a{
            img{
                width: 150px;
                height: 150px;
            }
            div{
                text-align: center;
            }
        }
    }
}