.warpper {
    .page_defualt{
        .warp_defualt{
            .portfolio_warp{
                margin: 0 10%;
                padding: 50px 0;
                .carousel_title{
                    margin: 30px 0;
                }
            }
        }
    }
}