@charset "UTF-8";
input[type=checkbox]#gnbcheck {
  display: none;
}

.mobile_open {
  display: none;
}

#gnbbtn {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
}

#gnbbtn span {
  position: absolute;
  top: 16px;
  height: 3px;
  width: 32px;
  background: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#gnbbtn span:nth-child(1) {
  top: 6px;
}

#gnbbtn span:nth-child(2) {
  top: 16px;
}

#gnbbtn span:nth-child(3) {
  top: 26px;
}

#mobile_close_btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}

#mobile_close_btn:before, #mobile_close_btn:after {
  content: '';
  display: none;
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: white;
  top: 16px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#mobile_close_btn:before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

#header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 800;
  background: rgba(0, 0, 0, 0.3);
}

#header #top_logo {
  float: left;
}

#header #top_logo .default-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

#header #gnb {
  float: right;
}

#header #gnb ul {
  overflow: hidden;
  /*li 정렬*/
}

#header #gnb ul li {
  float: left;
}

#header #gnb ul li .default-link {
  color: white;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  section .row .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  section#myprofile .row .column .inner img {
    width: 30%;
  }
  #footer .container {
    width: 100%;
  }
  #footer .container .row .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 767px) {
  #mobile_close_btn {
    display: block;
  }
  #mobile_close_btn:before, #mobile_close_btn:after {
    display: block;
  }
  .mobile_open {
    display: block;
  }
  section .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  section#ourclients .row .column, section#mytool .row .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  #footer .container .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  /*mobile gnb*/
  input[type=checkbox]#gnbcheck:checked ~ #header #gnb {
    left: 0;
  }
  #gnbbtn {
    display: block;
  }
  #gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 85%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  #gnb ul {
    padding-top: 50px;
  }
  #gnb ul li {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 10px;
  }
  #header {
    position: absolute;
  }
}

@media screen and (max-width: 380px) {
  section#ourclients .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  section#mytool .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/*# sourceMappingURL=header.css.map */